.element-wrap{
    text-align: center;
    justify-content: space-evenly;
    display: flex;
}

.sit-left{
    width: auto; 
    height: auto;
    text-align: center;
}

.sit-right{
    width: auto; 
    height: auto;
    float: right;
    justify-content: space-evenly;
    display: contents;
}


.banner-container{ 
    position: relative;
    text-align: center;
    justify-content: center;
    display:flow-root;
}

.banner-image{
    width: 100%; 
    opacity: 80%;
}

.logo-image{
    position: absolute;
    top: 0; 
    left: 0;
}

.filler-image{
    height: 350px;
    width: 350px;
}


